.ProductCardLearn{
    border: 1px solid rgb(126, 247, 126);
    color: rgb(132, 192, 132);
    border-radius: 20px;
    margin-right: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 2px 8px;
    text-align: center;
    cursor: pointer;
}
.ProductCardnoLearn{
    border: 1px solid rgb(246, 119, 119);
    color: rgb(255, 170, 170);
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 2px 8px;
    cursor: pointer;
}